*{
    margin: 0 auto;
}

header{
    display: flex;
    margin: 10px;
}
header h2{
    margin-right: 300px;
    margin-left: 100px;
    margin-top: 50px;
}

header li{
    list-style: none;
    margin-left: 100px;
    margin-top: 50px;
}